<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

<% if (json.project.embedded) { %>
ga("create", "UA-5828686-75", "auto");
// By default Google tracks the query string, but we want to ignore it.
var here = new URL(window.location);

ga("set", "location", here.protocol + "//" + here.hostname + here.pathname);
ga("set", "page", here.pathname);

// Custom dimensions & metrics
var parentUrl = here.searchParams.has("parentUrl") ? new URL(here.searchParams.get("parentUrl")) : "";
var parentHostname = "";

if (parentUrl) {
    parentHostname = parentUrl.hostname;
}

var initialWidth = here.searchParams.get("initialWidth") || "";

ga("set", {
  dimension1: parentUrl,
  dimension2: parentHostname,
  dimension3: initialWidth
});
<% } else { %>
ga("create", "UA-5828686-4", "auto");
ga("set", {
  dimension2: <%= JSON.stringify(json.project.analytics.topicIDs || []) %>,
  dimension3: <%= JSON.stringify(json.project.analytics.primaryTopic || "News") %>,
  dimension6: <%= JSON.stringify(json.project.analytics.secondaryTopics || []) %>,
  dimension22: document.title
});
<% } %>
ga("send", "pageview");
</script>
<!-- End Google Analytics -->

<% if (!json.project.embedded) { %>
<!-- Chartbeat bottom -->
<script>
var _sf_async_config={
  uid:18888,
  domain:"npr.org"
};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('src', "https://static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>
<% } %>